# Dependencies
node_modules/

# Expo & Bundlers
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Local Runtime / Generated Cache
# Ignores local sandboxed book data and scripts created during runtime testing
*.html
*.json
*.js
!app.json
!package.json
!tsconfig.json

# Native Signing & Configurations
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Environment & Credentials
.env*.local
*.pem

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE & System Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.tsbuildinfo
